
<div class="bg-[#020944] text-white h-auto lg:h-32 py-4 lg:py-0 w-full flex justify-between">

  <div class="w-full lg:w-[80%] ml-auto flex flex-col lg:flex-row justify-around items-center">
    <div class="text-[18px] font-medium text-center mb-[10px] lg:mb-0">
      <p>Exclusive Father's Day Special!</p>
      <p>Save up to $200 and an additional 20% OFF at checkout. Use code <span class="font-bold">SUPERDAD</span></p>
    </div>

    <div class="countdown flex items-center [&>div]:p-[30px] [&>div>strong]:text-[20px] [&>div>small]:uppercase gap-4">
      <div class="timeslot h-[40px] w-[30px] rounded-md border border-gray-0 flex flex-col items-center justify-center">
        <strong>17</strong>
        <small>Days</small>
      </div>
      <div class="timeslot h-[40px] w-[30px] rounded-md border border-gray-0 flex flex-col items-center justify-center">
        <strong>12</strong>
        <small>Hours</small>
      </div>
      <div class="timeslot h-[40px] w-[30px] rounded-md border border-gray-0 flex flex-col items-center justify-center">
        <strong>45</strong>
        <small>Minutes</small>
      </div>
    </div>
  </div>

</div>

